.library h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	border-bottom: solid;
	border-width: 1px;
	}
body {
	margin: 0;
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;	
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
p {
	font-family: 'Poppins', sans-serif;
}
.button {
	background: black;
	color: white;
	padding: 20px 150px;
	border: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
	margin: 0 auto;
	
}
.icon {
	background-color: #ba122b;
	padding: 5px;
	border-radius: 5px;
}
.weather {
	background-color: black;
	padding-top: 8px;
	padding-left: 5px;
	border-radius: 5px;
}
.container {
	width: 858px;
	margin: 0 auto;
	border: solid;
	border-width: .5px;
}
header {
	background: black;
	padding: 20px 10px;
}
header p {
	color: white;
	text-align: right;
	margin: 0;
}
header h2 {
	color: white;
	display: inline-block;
	margin: 0;
	font-size: 45px;
}
header h1 {
	color: white;
	font-size: 22px;
	margin: 0;
	display: inline-block;
	margin-top: 21px;
}
header.brutus {
	display: inline-block;
}
.brut {
	background-color: #f2f2f2;
	padding: 20px 0;
}

a:link {
    color: black;
	text-decoration:none;
}

a:visited {
    color: black;
}
.homepage.icon {
	margin: 0 auto;
}
.icon.one {
	margin: 0 22%;
}
.home p {
	text-align: center;
	color: #ba122b;
	margin: 0;
}
.brutus.one {
	margin: 0 42%;

}
footer {
	background-color: black;
	padding: 30px;
}
.row.home {
	margin: 50px 0;
}
.de {
	background-color: black;
	padding: 20px;
}
.de p {
	color: white;
	margin: 0;
}
.cal p {
	text-align: right;
}
.icon.ev {
	margin: 0 86.8%;
}

/*CSS Grid*/
			.row:after {
				content:"";
				display:table;
				clear:both;
			}

			.col {
				float:left;
				width:100%;
			}

			@media only screen and (min-width:768px) {
				/* tablet portrait */
				.gutter > .col {
					margin-left:2%;
				}
				.gutter > .col:first-child,
				.gutter > .col.s12 {
					margin-left:0;
				}
	
				.col.s1 {
					width:8.333%;
				}
				.col.s2 {
					width:16.666%;
				}
				.col.s2b {
					width:25%;
				}
				.col.s3 {
					width:25%;
				}
				.col.s4 {
					width:33.333%;
				}
				.col.s5 {
					width:41.666%;
				}
				.col.s6 {
					width:50%;
				}
				.col.s7 {
					width:58.333%;
				}
				.col.s8 {
					width:66.666%;
				}
				.col.s9 {
					width:75%;
				}
				.col.s10 {
					width:83.333%;
				}
				.col.s11 {
					width:91.666%;
				}
				.col.s12 {
					width:100%;
				}
	
				.gutter .col.s1 {
					width:6.5%;
				}
				.gutter .col.s2 {
					width:15%;
				}
				.gutter .col.s3 {
					width:23.5%;
					padding-top: 10px;
				}
				.gutter .col.s4 {
					width:32%;
				}
				.gutter .col.s5 {
					width:40.5%;
				}
				.gutter .col.s6 {
					width:49%;
				}
				.gutter .col.s7 {
					width:57.5%;
				}
				.gutter .col.s8 {
					width:66%;
				}
				.gutter .col.s9 {
					width:74.5%;
				}
				.gutter .col.s10 {
					width:83%;
				}
				.gutter .col.s11 {
					width:91.5%;
				}
				.gutter .col.s12 {
					width:100%;
				}
			}

			@media only screen and (min-width:1024px) {
				/* tablet landscape, medium screen */
				.col.m1 {
					width:8.333%;
				}
				.col.m2 {
					width:16.666%;
				}
				.col.m3 {
					width:25%;
				}
				.col.m4 {
					width:33.333%;
				}
				.col.m5 {
					width:41.666%;
				}
				.col.m6 {
					width:50%;
				}
				.col.m7 {
					width:58.333%;
				}
				.col.m8 {
					width:66.666%;
				}
				.col.m9 {
					width:75%;
				}
				.col.m10 {
					width:83.333%;
				}
				.col.m11 {
					width:91.666%;
				}
				.col.m12 {
					width:100%;
				}
	
				.gutter .col.m1 {
					width:6.5%;
				}
				.gutter .col.m2 {
					width:15%;
				}
				.gutter .col.m3 {
					width:23.5%;
				}
				.gutter .col.m4 {
					width:32%;
				}
				.gutter .col.m5 {
					width:40.5%;
				}
				.gutter .col.m6 {
					width:49%;
				}
				.gutter .col.m7 {
					width:57.5%;
				}
				.gutter .col.m8 {
					width:66%;
				}
				.gutter .col.m9 {
					width:74.5%;
				}
				.gutter .col.m10 {
					width:83%;
				}
				.gutter .col.m11 {
					width:91.5%;
				}
				.gutter .col.m12 {
					width:100%;
				}
	
			}

			@media only screen and (min-width:1240px) {
				/* large screen, fix live area */
				.container {
					margin:0 auto;
					width:1200px;
					padding: 0 2%;
				}
			}

.contentlistbox1 {
		width: 551.43px;
		height:53px;
		margin: 0px 15px 10px 0px;
		background-color:#BA122B;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		margin-bottom:0;
		text-align:left;
	}
	
.contentlistbox2 {
		width: 551.43px;
		height:53px;
		margin: 0px 15px 10px 0px;
		background-color:#BA122B;
		opacity: 0.6;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		margin-bottom:0;
		text-align:left;
	}
	
h3.boxtext {
	font-size:16px;
	margin-left:10px;
	margin-top:0;
	color:white;
	border-bottom: none;
	padding-top:20px;
	font-weight: 300;
	
	}
.scrolls {
	background-color: #ba122b;
	height: 35px;
}

/*Scrolling text styles*/
	<style style="text/css">
	.example1 {
	 height: 50px;	
	 overflow: hidden;
	 position: relative;
	 background-color: #ba122b;
	}
	.example1 h3 {
	 position: absolute;
	 color: white;
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 line-height: 40px;
	 text-align: center;
	 /* Starting position */
	 -moz-transform:translateX(100%);
	 -webkit-transform:translateX(100%);	
	 transform:translateX(100%);
	 /* Apply animation to this element */	
	 -moz-animation: example1 15s linear infinite;
	 -webkit-animation: example1 15s linear infinite;
	 animation: example1 15s linear infinite;
	}
	/* Move it (define the animation) */
	@-moz-keyframes example1 {
	 0%   { -moz-transform: translateX(100%); }
	 100% { -moz-transform: translateX(-100%); }
	}
	@-webkit-keyframes example1 {
	 0%   { -webkit-transform: translateX(100%); }
	 100% { -webkit-transform: translateX(-100%); }
	}
	@keyframes example1 {
	 0%   { 
	 -moz-transform: translateX(100%); /* Firefox bug fix */
	 -webkit-transform: translateX(100%); /* Firefox bug fix */
	 transform: translateX(100%); 		
	 }
	 100% { 
	 -moz-transform: translateX(-100%); /* Firefox bug fix */
	 -webkit-transform: translateX(-100%); /* Firefox bug fix */
	 transform: translateX(-100%); 
	 }
	}
	</style>
	
/*slideshow styles*/
	#contentWrapper {
	
	height: 400px;
	
	width: 858px;
	
	overflow: hidden;
	
	margin: 10% auto;

	padding: 0px;

	background-color: white;
	
	}

	#slideWrapper {

	height: 400px;

	width: 858px;

	overflow: hidden;
	
	margin: 0px;

	padding: 0px;

	background-color: white;

	}

	#slideReel {

	height: 400px;

	width: 2574px;
	
	margin: 0px;

	padding: 0px;

	background-color: white;

	-webkit-animation-play-state: running;

	-webkit-animation-name: slideIt;

	-webkit-animation-duration: 20s;

	-webkit-transform-origin: 50% 50%;
	
	-webkit-animation-iteration-count: infinite;

	-webkit-animation-timing-function: ease-in-out;
	
	}

	/* Resume the slideshow
	#slideReel:hover{
	    margin-left:-400px;
	}
	*/
	
 
	
	.slide {
	
	float: left;
	
	height: 400px;
	
	width: 858px;
	
	margin: 0px;
	
	padding: 0px;
	
	background-color: white;
	
	}
	
	
	
	 @-webkit-keyframes slideIt {
	
	
	
	 0% {
	
	-webkit-transform: translate(0px);
	
	}
	
	 50% {
	
	-webkit-transform: translate(-858px);
	
	}
	
	 100% {
	
	-webkit-transform: translate(-1716px);
	
	}
	
	}
	
	#slide1 {
	
	background-image: url(images/statue.jpg);
	
	}
	
	#slide2 {
	
	background-image: url(images/flite.jpg);
	
	}
	
	#slide3 {
	
	background-image: url(images/sign.jpg);
	
	}
		
	
	

div.scroll {
    background-color: white;
    width: 580px;
    height: 200px;
    overflow: scroll;
	direction:rtl;
}

#scroll div{
	direction:ltr;
}

